.blog {
  margin-top: 90px;
  width: 100%;
  height: 761px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  font-size: 48px;
  margin-bottom: 40px;
  width: 50%;
}

.blogs {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.blog-card {
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E0E0;
}

.blog-info {
  display: flex;
  gap: 10px;
  color: #737373;
  margin: 10px 0 20px;
}

.blog-text {
  color: #555;
  line-height: 1.6;
}