.works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

.works-title {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 700;
}

.projects {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  
  img{
    width: 246px;
height: 180px;
  }
}

.project-img {
  // width: 350px;
  // height: 220px;
  
  object-fit: cover;
  border-radius: 12px;
  background: #ddd;
}

.project-content {
  flex: 1;
}

.project-content h2 {
  font-size: 28px;
  margin-bottom: 6px;
}

.project-tags {
  color: #757575;
  margin-bottom: 16px;
  font-size: 15px;
}

.project-text {
  color: #555;
  line-height: 1.6;
}

/* 📱 Адаптив */
@media (max-width: 768px) {
  .projects {
    width: 90%;
  }

  .project-card {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
    height: 200px;
    
  }
}