.footer{
    width: 100%;
    height: 182px;
    background: rgba(237, 247, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(38, 63, 83);
   





    .footer-image{
        margin-top: 51px;
        display: flex;
        gap: 20px;
    }

    .copytext{
        margin-top: 20px;
    }
}