
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap');

.footer {
  height: 182px;
  background: rgb(38, 63, 83); // твой цвет
  padding: 4rem;
  color: #fff;
  text-align: center;

  .social-icons {
    
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    

    a {
      color: #fff; // иконки белые для контраста
      transition: color 0.3s;
      

      &:hover {
        color: #ff6464; // плавный красный при наведении
      }
    }
  }

  .copytext {
    font-size: 14px;
  }
}